ion-avatar {
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

#item1 {
    margin-top: 30px;
}

.empty {
    size: 150px;
    opacity: 30%;
}

iframe {
    width: 300px;
    height: 300px;
    min-width: 300px;
    min-height: 300px;
}

.label {
    margin-top: 70px;
}